<div>
    <div class="header">
        <div class="navigation pull-left">
            {{#if model}}
                <ul class="nav nav-pills">
                    {{#if model.isAdmin}}
                        {{#link-to "admin"}}
                            Administrator dashboard
                        {{/link-to}}
                    {{/if}}
                    <li>
                    
                    </li>
                <li>
                    {{#link-to "users"}}
                        Customers
                    {{/link-to}}
                </li>
                <li>  
                        {{#link-to "permissions"}}
                            Permissions
                        {{/link-to}}
                </li>
            </ul>
            {{/if}}
        </div>
        <div class="actions pull-right">
            
            <ul class="nav nav-pills">
                <li class="text-primary" {{action "logout"}}>
                    Logout
                </li>
                <li class="text-primary">
                    {{#link-to "login"}}
                        Login
                    {{/link-to}}
                </li>
            </ul> 
        </div>
    </div>
    <div class="container">
        <div> 
            <h2>Ember auth smaple application</h2>
            <pre>
                {{model.name}}
                {{model.email}}
            </pre> 
            {{outlet}}
        </div>
    </div>
</div>

