<div class="login-form">
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password">
    </div>
    <hr>
    <button class="btn btn-primary" {{action "loginWithAzure"}}>Login with Azure</button>
    <button class="btn btn-danger" {{action "loginWithGoogle"}}>Login with Google</button>
</div>
